@{
    ViewBag.Title = "About";
}

<br><br>
<h3><b>Developed By :</b></h3>

Abhishek Shilu<br>
Akhil Lalcheta<br>
Anurag Singh<br />
<br>
<br>
    <h3>
        <b>Guided By :<br></b></h3>
        Pushkar Kulkarni - Sr. Technical Architect<br>
        Sushant Banerjee - Trainer<br>


