@model IEnumerable<BookStoreApp.Models.Category>

<!-- Custom CSS -->
<link href="~/Content/bookHomePage.css" rel="stylesheet">

    <div class="row" style="margin-top:20px">
    <div class="col-md-12">
        <p class="lead">Categories</p>
        <div class="list-group">
            @foreach (var category in Model)
            {
                <a class="list-group-item" href="@Url.Action("Browse", "Home", new { category = category.CategoryName },null)">@category.CategoryName</a>
                
            }
</div>
    </div>
</div>

